<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.19.0/mercadolibre/favicon.svg" rel="icon" data-head-react="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Buscar</title>
</head>
<body>
    <div class="main-container">
        <form action="" method="post" class="search-form">
            <h1 class="search-title"><%= title %> </h1>
            <input autocomplete="off" type="text" name="estante" id="" placeholder="Estante" class="input-text-search">
            <input autocomplete="off" type="text" name="fila" id="" placeholder="Fila" class="input-text-search">
            <input autocomplete="off" type="text" name="columna" id="" placeholder="Columna" class="input-text-search">
            <button type="submit" class="button btn-search-submit ">Enviar</button>
            
            <a href="/inicio" class="button btn-search-submit">Volver</a>
        </form>
    </div>
</body>
</html>